@{
	var mydata = ViewData["data"] as Course;
}

<h1> Greeting: @ViewData["greeting"]</h1>

<h1>My name is : @ViewData["myname"]</h1>

<h1>Course name is: @ViewData["coursename"]</h1>

<h1>model data : @mydata.Details</h1>
<h1>model data : @mydata.Name</h1>